.myLikeIcon {
   width: 0;
   height: 0;
   border-bottom: 20px solid rgba(50 205 50);
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   cursor: pointer;
}

.myLikeText {
   color: rgba(50 205 50);
   font-size: 18px;
   font-weight: bold;
   margin-left: 5px;
   margin-top: 5px;
}