* {
   padding: 0;
   margin: 0;
   border: border-box;
}

#root {
   background: rgb(120, 144, 92);
   background: radial-gradient(circle, rgba(120, 144, 92, 1) 0%, rgba(69, 95, 121, 1) 58%);
   max-width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.enter__page {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.rt_films {
   font-size: 24px;
   color: #fff;
   cursor: pointer;
   margin-left: 20px;
}

.rt_films:hover {
   text-shadow: 2px 2px 2px #43466e;
}

.signIn {
   width: 800px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.navbar {
   width: 100%;
   height: 50px;
   margin-bottom: 30px;
   background: #000000a2;
   display: flex;
   z-index: 5;
   justify-content: space-between;
   align-items: center;
}

.mainPage {
   display: flex;
   padding: 20px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 100vw;
}

.film__card {
   width: calc(250px + 100vw/45);
   margin: 0px 10px 10px 0;
   padding: 5px;
   height: calc(350px + 100vh/50);
   background-color: rgb(124, 124, 124);
   border-radius: 15px;
   cursor: pointer;
   transition: all 0.5s;
   position: relative;
}

.film__card:hover {
   background-color: rgb(197, 172, 238);
   transition: all 0.5s;
   width: calc(260px + 100vw/45);
   height: calc(360px + 100vh/50);


}

.film__image {
   width: 100%;
   height: 80%;
   position: relative;
   border-radius: 15px;
}

.film__card__rating_block {
   position: absolute;
   width: 100%;
   height: 20%;
   background-color: rgba(0, 0, 0, 0.671);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 15px 15px 0 0;

}


.film__card__rating {
   width: 100%;
   margin: 0 30px;
   color: rgb(252, 235, 0);
   font-size: calc(24px + 7 * (100vw / 1280));
   font-weight: bolder;
   display: flex;
   align-items: center;
}

.film__card__rating::after {
   content: '';
   margin-left: 5px;
   width: 50%;
   height: 2px;
   background-color: rgb(252, 235, 0);
}

.film__card__rating::before {
   content: '';
   margin-right: 5px;
   width: 50%;
   height: 2px;
   background-color: rgb(252, 235, 0);
}

.film__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px 15px 0 0;


}

.film__description__wrapper {
   position: relative;
   width: 100%;
   height: 20%;
   overflow: hidden;
}

.film__description {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 5px 10px;
   border-radius: 0px 0px 15px 15px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   color: #fff;
   font-size: 18px;
   background: #000000;
}


.film__title {
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
}

.film__page {
   color: #fff;
   font-size: calc(5px + 25 * (100vw / 1920));
   width: 80vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.background__film {
   position: absolute;
   height: 50vw;
   width: 80vw;
   overflow: hidden;
}

.black {
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   height: 100%;
   width: 80vw;
}

.background__film__page {
   height: 100%;
   position: absolute;
   background-color: transparent;
}

.film__page {
   padding-bottom: 40px;
}

.film__page_descr {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.film__page_info {
   margin-top: 20px;
   width: 70vw;
   display: flex;
   text-transform: uppercase;
   justify-content: space-between;
   align-items: flex-start;
   text-align: end;
}

.film__page_title {
   font-size: calc(5px + 65 * (100vw / 1920));
   font-weight: bold;
   text-transform: uppercase;
}

.film__page__trailer {
   margin-top: 10px;
   margin-bottom: 10px;
   object-fit: cover;
   width: 30vw;
   height: 17vw;
   border: 2px solid #fff;
}

.film__page__rating {
   font-size: calc(5px + 100 * (100vw/ 1920));
   font-weight: bolder;
   color: rgb(252, 235, 0);
}

.film__page__user_rate {
   display: flex;
   justify-content: space-between;
}

.film__page__add_comment {
   padding: 20px 0;
   width: 70vw;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.film__page__comments {
   color: #fff;
   z-index: 4;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.comment__block {
   position: relative;
   color: #000;
   margin: 5px 0;
   padding: 10px;
   border: 2px solid #fff;
   border-radius: 5px;
   width: 70vw;
   background: #fff;
}

.comment__block_rating {
   display: flex;
}

.comment__block_header {
   display: flex;
}

.comment__block_user {
   color: rgb(70, 124, 241);
   font-weight: bold;
}

.comment__block_action {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
}

.user__page {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-transform: uppercase;
   color: #fff;
}

.user_page_card {
   margin: 10px 0;
   padding: 0 15px;
   height: 12vw;
   width: 80vw;
   background: #000;
   border: 2px solid #fff;
   color: #fff;
   font-size: calc(18px + 6 * (100vw / 1280));
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
}

.user_page_card_image {
   height: 10vw;
   width: 7vw;
}


.user_card_attribute {
   display: flex;
   align-items: center;
}

.user_card_field {
   font-size: calc(18px + 0.5 * (100vw / 1280));
   color: rgb(121, 121, 121, 0.8);
   font-weight: 100;
   margin-right: 5px;
}

.add_film_steps {
   margin: 30px 0;
   width: 90vw;
   display: flex;
   justify-content: center;
}

.steps_item {
   width: 60px;
   height: 60px;
   margin: 0 15px;
   border-radius: 50%;
   background: rgb(70, 124, 241);
   border: 2px solid #fff;
   font-size: 48px;
   font-weight: bold;
   color: #fff;
   text-align: center;
}

.steps_item.active {
   background: rgb(255, 153, 0);
}

.add_film_content {
   width: 70vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input__wrapper {
   width: 100%;
   position: relative;
   margin: 15px 0;
   text-align: center;
}

.input__file {
   opacity: 0;
   visibility: hidden;
   position: absolute;
}

.input__file-icon-wrapper {
   height: 60px;
   width: 60px;
   margin-right: 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   border-right: 1px solid #fff;
}

.input__file-button-text {
   line-height: 1;
   margin-top: 1px;
}

.input__file-button {
   width: 30vw;
   max-width: 290px;
   height: 40px;
   background: #fff;
   border: 2px solid rgb(70, 124, 241);
   color: rgb(70, 124, 241);
   font-size: 1.125rem;
   font-weight: 700;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: center;
   border-radius: 3px;
   cursor: pointer;
   margin: 0 auto;
}